footer {
  /* padding-top: 80px;
  padding-bottom: 10px;
  margin-top: 0px;
  position: absolute;

  bottom: 0;
  width: 100%; */
  /* background-color: rgb(185, 111, 42); */
  /* background-color: rgb(44, 121, 44);
  padding-top: 20px;
  padding-bottom: 0px;
  position: fixed;

  bottom: 0;
  height: 60px;
  width: 100%; */

  margin-top: calc(5% + 60px);
  bottom: 0;
}

.footer-class {
  margin-top: 50px;
}
