.nav-title {
  font-family: 'Montserrat';
  font-size: 40px;
  letter-spacing: 3px;

  /* font-weight: 700; */
  display: inline-block;
  /* color: #f2f2f2; */
  padding-left: 10px;
  color: white;
}

/* .ultra-font {
  font-family: 'Ultra';
  src: local('Ultra'), url('/images/Ultra.otf');
  
} */

.nav {
  margin: 0 0 30px;
  background-color: #3f51b5;

  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: #3f51b5;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Montserrat';

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.nav-link:hover {
  background-color: #4b60d4;
}

.nav-right {
  float: right;
}
